---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
   appName: string;
   altText: string;
   appLogoPath: string;
   appLogoOrientation: string;
   appAnswer: string;
}

const { appName, altText = "", appLogoPath, appLogoOrientation, appAnswer } = Astro.props;
const imgGlob = "/src/assets/*.{jpeg,jpg,png,gif,svg,webp}"

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif,svg,webp}");

if (!images[appLogoPath]){
  throw new Error(`"${appLogoPath}" does not exist in glob: "${imgGlob}"`);
}
const image = await images[appLogoPath]();
const appLogoOrientationClass =  `app-logo-${appLogoOrientation}`;

let minWidth = 0;
let maxWidth = 0;

if (appLogoOrientation === "square") {
  minWidth = 48;
  maxWidth = 90;
} else {
  minWidth = 128;
  maxWidth = 256;
}
---
<div class="app-card" data-answer={appAnswer} role="button" aria-pressed="false" tabindex="0"  aria-describedby="app-card-desc">
  <div class="app-card-body">
    <div class="app-card-front" aria-hidden="false">
      {
          appLogoPath ? (
          <Image
              src={image.default}
              alt={altText}
              widths={[minWidth, maxWidth]}
              sizes={`(max-width: 720px) ${minWidth}px, ${maxWidth}px`}
              class={appLogoOrientationClass}
          />
          ) : ( <></> )
      }
      <p class="app-question">Is {appName}<br/>a dating app?</p>
    </div>
    <div class="app-card-back" aria-hidden="true">
      <div class="app-answer">{appAnswer}</div>
    </div>
  </div>
</div>

<style>
  .app-logo-square {
    width: var(--space-xxl);
    max-width: 90px;
    height: auto;
  }

  .app-logo-landscape {
    width: auto;
    height: var(--space-xxl);
    max-height: 90px;
  }

  .app-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    aspect-ratio: 1 / 1;
    perspective: 40rem;

    transition:
      z-index,
      transform calc(var(--flip-time) / 4);
    transition-delay: var(--flip-time), 0s;
    z-index: 0;
  }

  .app-card[aria-pressed="true"] .app-card-body {
    transform: rotateX(-180deg);
    transition-delay: 0s;
    z-index: 1;
  }
  .app-card:hover {
    transform: scale(1.025);
  }

  .app-card-body {
    cursor: pointer;
    display: flex;
    transform-style: preserve-3d;
    transition: var(--flip-time) transform;
    height: 100%;
  }

  .app-card-front,
  .app-card-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    min-width: 100%;

    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.1em;
    color: var(--app-card-text-color);
    background-color: var(--app-card-surface);
    border: .1em solid #5a3d2b;
    text-align: center;
    text-wrap: pretty;
  }

  .app-question {
    flex-grow: 0;
    padding-top: 1em;
  }

  .app-card-back {
    transform: rotateX(-180deg) translate(-100%, 0);
  }

  .app-answer {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--app-card-text-color);
  }

  .app-card[data-answer="No"] .app-card-back {
    border: .25em solid red;
  }

  .app-card[data-answer="Yes"] .app-card-back {
    border: .25em solid green;
  }

  .app-card[data-answer="Maybe"] .app-card-back {
    border: .25em solid orange;
  }

</style>